body {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
  min-height: 100vh;
  position: relative;
}

.hide {
  display: none !important;
}

#nav-open-img:hover, #nav-close-img:hover, .btn-get-started:hover, #list-header-menu:hover, .btn-testimonial:hover, #input-submit:hover, .item-social-media > svg:hover {
  cursor: pointer;
}

#bg-menu {
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, .1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#header-logo {
  width: auto;
  height: 18px;
}

#nav-open-img {
  width: 25px;
  height: 18px;
}

#nav-close-img {
  width: 21px;
  height: 22px;
  position: relative;
  z-index: 5;
}

#list-header-menu {
  position: absolute;
  top: 6rem;
  left: 1rem;
  width: calc(100% - 2rem);
  padding: 2rem;
  background-color: hsl(0, 0%, 100%);
  z-index: 10;
  text-align: center;
  border-radius: 5px;
}

#list-header-menu > li {
  margin-bottom: 2rem;
}

#list-header-menu > li:last-of-type {
  margin-bottom: 0;
}

#list-header-menu > li > a {
  font-weight: 500;
  color: hsl(228, 39%, 23%);
}

#list-header-menu > li > a:hover {
  color: hsl(227, 12%, 61%);
}

main {
  background-image: url('../images/bg-tablet-pattern.svg');
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: top -120px right -135px;
}

.div-hero {
  padding: 6rem 0;
  background-image: url('../images/bg-tablet-pattern.svg');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: bottom 0px right -175px;
}

#hero-img {
  display: block;
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.div-hero > div {
  text-align: center;
}

.div-hero > div > h2 {
  color: hsl(228, 39%, 23%);
  font-size: 2.25rem;
  font-weight: 700;
  margin: 1rem 0;
}

.div-hero > div > div {
  width: 80%;
  margin: 0 auto;
  color: hsl(227, 12%, 61%);
  line-height: 1.5rem;
}

.btn-get-started {
  padding: 0.5rem 1.5rem;
  margin: 1rem 0;
  border-radius: 500px;
  background-color: hsl(12, 88%, 59%);
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  box-shadow: 0 0.25rem 0.25rem hsl(12deg 88% 59% / 50%);
  font-size: .85rem;
}

.btn-get-started:hover {
  opacity: .6;
}

.div-what-different {
  padding-bottom: 3rem;
  text-align: center;
}

.div-what-different > h3, .div-testimonials > h3 {
  color: hsl(228, 39%, 23%);
  font-size: 1.75rem;
  font-weight: 700;
  width: 70%;
  margin: 0 auto 1rem auto;
}

.div-what-different > div {
  width: 90%;
  margin: 0 auto;
  color: hsl(227, 12%, 61%);
  line-height: 1.5rem;
}

.item-feature {
  margin-bottom: 1rem;
}

.item-feature-header {
  display: flex;
  align-items: center;
  border-top-left-radius: 500px;
  border-bottom-left-radius: 500px;
  background-color: hsla(12, 88%, 59%, .15);
  width: calc(100% - 1rem);
  margin: 0 0 0 1rem;
}

.item-number {
  color: hsl(0, 0%, 100%);
  padding: 0.5rem 1.5rem;
  background-color: hsl(12, 88%, 59%);
  border-radius: 500px;
}

.item-feature-header > h4 {
  color: hsl(228, 39%, 23%);
  font-weight: 700;
  display: block;
  flex: 1;
  margin-left: .75rem;
}

.item-feature-description {
  padding: 1rem;
  line-height: 1.5rem;
  color: hsl(227, 12%, 61%);
  font-size: 14px;
}

.div-testimonials {
  text-align: center;
}

.item-testimonial {
  padding: 2rem 0;
  position: relative;
  background-color: hsl(0, 0%, 98%);
  margin: 5rem 0 1rem 0;
}

.img-user-testimonial {
  width: 64px;
  height: 64px;
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
}

.item-testimonial > h5 {
  font-weight: 500;
  margin: 1rem;
  color: hsl(228, 39%, 23%);
}

.item-testimonial > div {
  width: 80%;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.5rem;
  color: hsl(227, 12%, 61%);
}

.div-btn-testimonials {
  display: flex;
  align-items: center;
}

.btn-testimonial {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid hsl(12, 88%, 59%);
}

.btn-testimonial:hover {
  background-color: hsl(12, 88%, 59%);
}

.btn-testimonial.active {
  background-color: hsl(12, 88%, 59%);
}

.div-testimonials .btn-get-started {
  margin: 2rem 0;
}

.div-motto {
  padding: 5rem 0;
  background-color: hsl(12, 88%, 59%);
  text-align: center;
  background-image: url('../images/bg-simplify-section-mobile.svg');
  background-repeat: no-repeat;
  background-position: top 40px left 0px;
}

.div-motto > h2 {
  font-size: 2.25rem;
  color: hsl(0, 0%, 100%);
  width: 80%;
  margin: 0 auto;
}

.div-motto .btn-get-started {
  background-color: hsl(0, 0%, 100%);
  color: hsl(12, 88%, 59%);
  box-shadow: none;
}

.div-motto .btn-get-started:hover {
  color: hsl(12, 100%, 70%);
  background-color: hsl(0, 0%, 100%);
  opacity: 1;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  background-color: hsl(233, 12%, 13%);
}

#footer-logo {
  order: 4;
  text-align: center;
  margin: 3rem 0;
}

.form-email {
  order: 1;
  width: 90%;
  margin: 0 auto 3rem auto;
  display: flex;
}

#input-email {
  padding: .5rem 1.5rem;
  border-radius: 500px;
  flex: 1;
  background-color: hsl(0, 0%, 100%);
}

#input-email::placeholder {
  color: hsl(227, 12%, 61%);
  font-size: .85rem;
}

#input-submit {
  padding: .5rem 1.5rem;
  border-radius: 500px;
  margin-left: .5rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(12, 88%, 59%);
  text-transform: uppercase;
  font-size: .85rem;
}

#input-submit:hover {
  background-color: hsl(12, 100%, 70%);
}

.list-footer-helpful-links {
  order: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 150px;
  width: 90%;
  margin: 0 auto 1.5rem auto;
}

.list-footer-helpful-links > li {
  margin-bottom: 1rem;
  margin-left: 2rem;
  color: hsl(0, 0%, 100%);
}

.list-footer-helpful-links > li:hover {
  color: hsl(12, 88%, 59%);
}

.list-footer-social-media {
  order: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.item-social-media > svg {
  width: 32px;
  height: 32px;
}

.item-social-media > svg:hover > path {
  fill: hsl(12, 88%, 59%);
}

#footer-copyright {
  order: 5;
  text-align: center;
  font-size: 12px;
  color: hsl(227, 12%, 61%);
}

@media (min-width: 576px) {
  main {
    background-size: 97%;
    background-position: top -200px right -100px;
  }

  .div-hero {
    background-size: 70%;
    background-position: bottom 0px right -170px;
  }

  #hero-img {
    width: 70%;
  }

  .div-hero > div > h2 {
    width: 80%;
    margin: 1rem auto;
  }

  .div-hero > div > div, .div-what-different > div, .div-motto > h2 {
    width: 70%;
  }

  .div-what-different > h3 {
    width: 50%;
  }

  .item-testimonial > div {
    width: 75%;
  }

  .div-motto {
    background-size: 14%;
    background-position: top 30px left 0px;
  }

  .form-email, .list-footer-helpful-links {
    width: 80%;
  }

  .list-footer-social-media {
    width: 60%;
  }
}

@media (min-width: 767px) {
  main {
    background-size: 85%;
    background-position: top -250px right -100px;
  }

  .div-hero {
    background-size: 60%;
    background-position: bottom 0px right -200px;
  }

  #hero-img {
    width: 60%;
  }

  .div-hero > div > div {
    width: 70%;
  }

  .div-hero > div > div, .div-what-different > div, .div-motto > h2 {
    width: 50%;
  }
}

@media (min-width: 922px) {
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-size: 60%;
    background-position: top -115px right -125px;
  }
  .div-hero {
    display: flex;
    padding: 6rem 3rem;
    background: none;
  }

  #hero-img {
    order: 2;
    width: 50%;
  }

  .div-hero > div {
    order: 1;
    text-align: start;
  }

  .div-hero > div > h2 {
    width: auto;
    margin: 2rem 0;
  }

  .div-hero > div > div {
    width: 75%;
    margin: 0;
  }

  .btn-get-started {
    margin: 2rem 0;
  }

  .div-what-different {
    flex: 2;
    text-align: start;
    padding-left: 3rem;
    background-image: url('../images/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom -100px left -250px;
  }

  .div-what-different > h3 {
    font-size: 2rem;
    width: auto;
    margin-bottom: 2rem;
  }

  .div-what-different > div {
    margin: 0;
    width: 85%;
  }

  .div-features {
    flex: 2;
    padding-right: 3rem;
  }

  .item-feature-header {
    background-color: transparent;
  }

  .item-feature-description {
    padding-left: 6rem;
  }

  .div-testimonials {
    width: 100%;
  }

  .item-testimonial > div {
    width: 40%;
  }

  .div-motto {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    text-align: start;
    flex: 1;
    background-image: url('../images/bg-simplify-section-desktop.svg');
    background-size: 115%;
    background-position: top -65px right -200px;
  }

  .div-motto > h2 {
    margin: 0;
  }

  .form-email, .list-footer-helpful-links {
    width: 60%;
  }

  .list-footer-social-media {
    width: 35%;
  }
}

@media (min-width: 1200px) {
  main {
    background-size: 55%;
    background-position: top -175px right -175px;
  }

  header {
    padding: 3rem 6rem;
    align-items: center;
  }

  nav {
    width: 40%;
  }

  #list-header-menu {
    position: initial;
    top: initial;
    left: initial;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: auto;
    z-index: auto;
    background-color: initial;
    border-radius: initial;
    text-align: start;
  }

  #list-header-menu > li {
    margin: 0;
  }

  header > .btn-get-started {
    margin: 0;
  }

  .div-hero {
    padding: 9rem 6rem 6rem 6rem;
  }

  #hero-img {
    width: 45%;
  }

  .div-hero > div > h2 {
    width: 80%;
    font-size: 2.75rem;
  }

  .div-hero > div > div {
    width: 70%;
  }

  .div-what-different {
    padding-left: 6rem;
    background-size: 75%;
    background-position: bottom -200px left -250px;
  }

  .div-what-different > h3 {
    width: 75%;
    margin: 0 0 2rem 0;
  }

  .div-what-different > div {
    width: 70%;
  }

  .div-testimonials {
    width: auto;
    overflow: hidden;
    margin-left: -1rem;
  }

  .list-testimonials {
    width: auto;
    overflow: hidden;
    white-space: nowrap;
  }

  .item-testimonial {
    display: inline-block;
    width: 35%;
  }

  .item-testimonial > div {
    width: 75%;
    white-space: initial;
  }
}

@media (min-width: 1400px) {
  main {
    background-size: 50%;
    background-position: top -175px right -120px;
  }
  header {
    padding: 3rem 9rem;
  }

  .div-hero {
    padding: 9rem 9rem 6rem 9rem;
  }

  .div-what-different {
    padding-left: 9rem;
    background-size: 60%;
    background-position: bottom -150px left -175px;
  }

  .div-features {
    padding-right: 9rem;
  }

  .div-motto {
    padding: 3rem 9rem;
    background-size: 85%;
    background-position: top -100px right -200px;
  }
}